// Single Post Body Content 
//––––––––––––––––––––––––––––––––––––––––––––––––––
.background-image {
    height: 50vh;
    @media (min-width: 768px) {
        height: 65vh;
      }
  }


.intro {
  text-align: center;
  position: relative;
  padding: 40px;
  @media (min-width: 768px) {
    @include span(10);
    @include push(1);
    padding: 40px 0;
  }

  p {
    color: $red;
  }
}

.secondary {
  h1 {
    @include flush;
  }
}

.secondary-intro {
  padding-top: 0;
}

.the-content {
  margin-bottom: 40px;
	@media (min-width: 768px) {
	  @include span(6);
	  @include push(3);
	}

}

.sidebar {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    @include span(8);
    @include push(2);
  }

  p {
    color: $red;
  }
  ul {
    font-size: 1.4rem;
  }
  @media (min-width: 768px) {
    .sidebar-left {
      @include span(6)
    }

    .sidebar-right {
      @include span(6)
    }
  }
}