@import 'helpers/base',
				'vendor/base',
				'partials/base',
				'componants/base',
				'pages/base';


// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html, body  {
	height: 100%;
	width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 500;
  font-family: $font-primary;
  background-color: $white;
}

 li {
  list-style: none;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  // ul { 
  //     height: 30px;
  //     width: 150px;
  //     border: 1px #000 solid;
  // }
  // ul li { padding: 5px 10px; z-index: 2; }
  // ul li:not(.init) { float: left; width: 130px; display: none; background: #ddd; }
  // ul li:not(.init):hover, ul li.selected:not(.init) { background: #09f; }
  // li.init { cursor: pointer; }

  // a#submit { z-index: 1; }

}

.text-center {
  text-align: center;
}

.gray {
  color: $gray;
  margin-right: 10px;
}

// .dropdown, .dropdown label, .dropdown ul, .dropdown li {
//   margin: 0;
//   padding: 0;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   outline: 0;
//   -webkit-user-select: none;
// }

// .dropdown {
//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   font-family: "Oswald";
//   width: 180px;
//   box-shadow: -1px 1px #fff, -3px 3px #000;
// }

// .dropdown label {
//   padding: 0.5em;
//   display: block;
//   font-size: inherit;
//   padding-right: 2em;
//   border: 2px solid #000;
//   text-transform: uppercase;
//   cursor: pointer;
//   overflow: hidden;
//   background: url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 94% center;
// }

// .dropdown ul {
//   border: 2px solid #000;
//   border-top: 0;
// }

// .dropdown ul li {
//   list-style: none;
//   padding: 0.5em;
//   display: block;
//   font-size: inherit;
//   text-transform: uppercase;
//   background: #fff;
//   cursor: pointer;
//   width: 100%;
// }

// .dropdown ul li:not(:last-of-type) {
//   border-bottom: 2px solid #000;
// }

// .dropdown ul {
//   position: absolute;
//   left: -9999px;
// }
