@import 'helpers/base',
				'vendor/base',
				'partials/base',
				'componants/base',
				'pages/base';


// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html, body  {
	height: 100%;
	width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 500;
  font-family: $font-primary;
  background-color: $white;
}

 li {
  list-style: none;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

