// Footer 
//––––––––––––––––––––––––––––––––––––––––––––––––––

.site-footer {
  background: $light-grey;
  padding: 8px 0 4px 0;
  text-align: center;
  float: left;
  width: 100%;
  @media (min-width: 992px) {
    text-align: left;
  }
  p {
    font-size: 1.0rem;
    letter-spacing: 0.1rem;
    text-transform: inherit;
    margin-bottom: 0;
    margin: 0 15px;
  }
}
