// Image Block 
//––––––––––––––––––––––––––––––––––––––––––––––––––

.image-block {
  margin-bottom: 30px;

  //   &:nth-child(even) {
  //     margin-right: 0px;   
  // }
}

.image-block-background-image {
  height: 275px;
}

.image-block-content {
  padding: 0;
  @media (min-width: 992px) {
    padding: 20px 0;
  }
  h1 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
    &:nth-child(3) {
      margin: 20px 0;
    }
  }

}

.image-block-background-image-wrapper {
  overflow: hidden;
}
