// Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

@media (min-width: 768px) {
	ul.nav-menu {
		float: right;
		margin-right: 45px;
		margin-top: 70px;
	}

	ul.nav-menu {
		li {
			display: inline-block;
			margin: 0 15px;

			a {
				color: $white;
				font-size: 1.6rem;
				font-weight: 400;
			}
		}
	}

	img.logo {
		float: left;
		width: 211px;
		height: auto;
		margin-left: 45px;
		margin-top: 70px;
	}
}

