// Navigation //––––––––––––––––––––––––––––––––––––––––––––––––––

// Mobile Nav



$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

.mobile-menu {
  display: inline-block;
  a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $red;
    text-decoration: none;
    font-size: 40px;
    overflow: hidden;
    font-weight: 400;
    
    &:after {
      content: '';
      position: absolute;
      background: $red;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }
    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 100%;
    }
  }
.menu-main-menu-container {
  @include vertical-align;
}

h1 {
  position: relative;
  text-align: center;
  font-family: $font-primary;
}

.button_container {
  // position: fixed;
  position: absolute;
  right: 5%;
  top: 5%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 99999;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $white;
    }
    .middle {
      opacity: 0;
      background: $white;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $white;
    }
  }
  
  span {
  background: $red;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $red;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 9999;
  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: $font-primary;
    font-weight: 300;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      margin: 30px 0;
      // border-bottom: 1px solid $white;
      // &:nth-child(4) {
      //   border-bottom: 0px;
      // }

      
      a {
        display: block;
        position: relative;
        color: $white;
        text-decoration: none;
        overflow: hidden;
        
        // &:hover:after,
        //  &:focus:after,
        //  &:active:after {
        //    width: 100%;
        //  }
        
        // &:after {
        //   content: '';
        //   position: absolute;
        //   bottom: 0;
        //   left: 50%;
        //   width: 0%;
        //   transform: translateX(-50%);
        //   height: 3px;
        //   background: $white;
        //   transition: .35s;
        // }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

}  

// .home, .single-work {
//   .mobile-menu {
//     .button-container {
//       span {
//         background: $white;
//       }

//     }
//   }
// }

////////////////

// Above Mobile
 @media (min-width: 768px) {

    .header-main {
        height: 130px;
        display: block;
        margin-bottom: 75px;
        svg {
            float: left;
            width: 211px;
            height: auto;
            margin-left: 70px;
            margin-top: 66px;
            path {
                fill: $red;
                @include global-transition;
            }
            &:hover {
                path {
                    fill: $gray;
                    @include global-transition;
                }
            }
        }

    }

    ul.nav-menu {
        float: right;
        margin-right: 70px;
        margin-top: 66px;
    }
    ul.nav-menu {
        li {
            display: inline-block;
            margin: 0 15px;
            a {
                color: $red;
                font-size: 1.6rem;
                font-weight: 400;
                &:hover {
                    color: $gray;
                }
            }
        }

        li.current_page_item {
            a {
                color: $gray;
            }
        }
    }
    // Color Theme for Hompage + Other Full screen image pages 
    .home, .single-work {
        .header-main {
          height: auto;
          display: inline;
          margin-bottom: 0;
          svg {
              position: absolute;
              z-index: 9999;
              top: 66px;
              left: 70px;
              margin: 0 auto;
              path {
                  fill: $white;
              }
              &:hover {
                  path {
                      fill: $red;
                  }
              }
          }

        }
        ul.nav-menu {
            position: absolute;
            top: 66px;
            right: 70px;
            z-index: 9999;
            margin: 0 auto;
        }
        ul.nav-menu {
            li {
                a {
                    color: $white;
                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
  .header-main {
    display: none;
  }
}
