// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$font-primary: "canada-type-gibson",sans-serif;
$font-secondary: "clarendon-text-pro", sans-serif;



h1, h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $font-secondary;
  font-weight: 100;
}

h1 { font-size: 5.2rem; line-height: 1.2;  letter-spacing: 0rem;  }
h2 { font-size: 4.0rem; line-height: 1.25; letter-spacing: 0rem;  }

// Larger than phablet
@media (min-width: 768px) {
  h1 { font-size: 2.6rem; }
  h2 { font-size: 2.4rem; }
}

p {
  margin-top: 0;
  letter-spacing: 0rem;
  @include global-transition;
}

@media (min-width: 768px) {
  p {
    font-size: 1.6rem;
  }
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  font-size: 1.3rem;
  text-decoration: none;
  color: $black;
  @include global-transition;
  &:hover {
    @include global-transition;

  }
}