@mixin vertical-align {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin flush {
	margin: 0 auto;
}

@mixin border {
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
}

@mixin border-bottom {
	border-bottom: 5px solid $black;
}

@mixin link-border-bottom {
	border-bottom: 3px solid $black;
}

@mixin link-border-bottom-hover {
	border-bottom: 3px solid $white;
}


@mixin sidebar-border-bottom {
	border-bottom: 1px solid $black;
}


@mixin global-transition {
	transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	}

@mixin scale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	transition: transform 0.8s;

}

@mixin scale_1 {
	-webkit-transform: scale(1.031);
	-moz-transform: scale(1.031);
	-ms-transform: scale(1.031);
	-o-transform: scale(1.031);
	transform: scale(1.031);
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	transition: transform 0.8s;


}

@mixin scale_image_block {
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-ms-transform: scale(.9);
	-o-transform: scale(.9);
	transform: scale(.9);
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	transition: transform 0.8s;

}

@mixin scale_1_image_block {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	transition: transform 0.8s;


}