// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
// $xs   : "min-width: 320px" !default;
// $sm   : "min-width: 768px" !default;
// $md   : "min-width: 992px" !default;
// $lg   : "min-width: 1025px" !default;
// $xl   : "min-width: 1200px" !default;


// Colors
$white: #ffffff !default;
$black: #1a1a1a !default;
$light-grey: #e6e6e6 !default;
$middle-grey: #808080 !default;
$dark-grey: #333 !default;
$link-gray: #999999 !default;

